@import "tailwindcss";

@theme {
    --color-background: #09090b;
    --color-surface: #18181b;
    --color-primary: #e5b05c;
    --color-secondary: #27272a;
    --color-textMain: #fafafa;
    --color-textMuted: #a1a1aa;

    --font-sans: var(--font-geist-sans), sans-serif;
    --font-serif: var(--font-playfair), serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-textMain);
}
